/*glasses, hat, octopus*/
body {
    position: relative;
}
img{
    display: block;
    margin: 0 auto;
}

/* Glasses */
img:first-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: 180px;
}

/* Octopus */
img:last-child {    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
}

/* Hat */
img:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 20px;
}